{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Crypto Bonds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
  <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  <link href="{% static 'cryptoserver/css/style.css' %}" rel="stylesheet">
  <!-- mount point for the Mithril JS app -->
  <!-- <div id="app"></div> -->
  <title>Hello, world!</title>
</head>

<body>
  <form style="margin-top: 10%; margin-left: 10%; width: 50%">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <h1>{{ bank.name }}</h1>
        <a href="{% url 'bdeposit' bank.id %}" class="btn btn-primary btn-lg btn-block">Deposit
          Funds</a>
        <a href="{% url 'bwithdraw' bank.id %}" class="btn btn-primary btn-lg btn-block">Withdraw
          funds</a>
          <a href="{% url 'baccept' bank.id %}" class="btn btn-primary btn-lg btn-block">Review Bonds</a>
      </div>
      <div class="col">
        <h1>${{ bank.money }}</h1>
        <!-- <h1 style="font-size:1rem;">Issue Request</h1> -->
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action
              flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus.
              Maecenas sed diam eget risus varius
              blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action
              flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus.
              Maecenas sed diam eget risus varius
              blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action
              flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus.
              Maecenas sed diam eget risus varius
              blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
        </div>
      </div>
    </div>
  </form>

  <!-- <script src="dist/bundle.js"></script> -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>