.hero {
  position: absolute;
  /* float: left; */
  background-image: url("hero.png");
  /* background-color: #cccccc; */
  height: 600px;
  width: 50%;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-family: "Product Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
