{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crypto Bonds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link href="{% static 'cryptoserver/css/style.css' %}" rel="stylesheet">
    <!-- mount point for the Mithril JS app -->
    <!-- <div id="app"></div> -->
    <title>Hello, world!</title>
</head>

<body style='background-image: url("{% static 'cryptoserver/images/bg.jpg' %}")'>
    <a href="{% url 'logout' %}" class="btn btn-danger btn-lg btn-block" style="position: fixed; float: right; width: 100px; margin: 1%; right: 0;">Logout</a>
    <h1>{{ trader.name }}</h1>
    <h1>${{ trader.money }}</h1>

    <form action="{% url 'buybond' %}" method="post" class="type1">
    {% csrf_token %}
    <!-- <h1 style="font-size:1rem;">Issue Request</h1> -->
    <div class="list-group">
        {% for bond in bonds %}
            {% if bond.cleared == True and bond.owner is None %}
                <div href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin: 5%;">
                    <p> Bond Issuer: {{ bond.issuer.name }}</p>
                    <p> Bond Underwriter: {{ bond.underwriter.name }}</p>
                    <p class="mb-1">Amount: ${{ bond.amount }}</p>
                    <p class="mb-1">Denomination: ${{ bond.denomination }}</p>
                    <p class="mb-1">Rate: {{ bond.interest_rate }}%</p>
                    <p class="mb-1">Maturity Rate: {{ bond.maturity_date }}</p>
                    <br>
                    <div class="form-group" style="display: None">
                        <label for="bond_id"></label>
                        <input type="name" class="form-control" name="bond_id" value={{ bond.id }}>
                    </div>
                    <div class="form-group" style="display: None">
                        <label for="trader_id"></label>
                        <input type="name" class="form-control" name="trader_id" value={{ trader.id }}>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Accept</button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </form>


    <!-- <script src="dist/bundle.js"></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>